---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  keywords?: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Canonical URL -->
    <link rel="canonical" href={Astro.url.href} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url.href} />
    <meta
      property="og:image"
      content={new URL("favicon.svg", Astro.url.origin).href}
    />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={new URL("favicon.svg", Astro.url.origin).href}
    />

    {keywords && <meta name="keywords" content={keywords} />}
  </head>
  <body class="font-sans bg-main-bg text-main-text">
    <slot />
  </body>
</html>
