---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
const {frontmatter} = Astro.props;
const {title, description, pubDate, author} = frontmatter;
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Share+Tech+Mono&display=swap"
          rel="stylesheet">
    <title>DEV Brian</title>
</head>
<body class="font-sans bg-main-bg text-main-text">
<Header/>
<Sidebar/>
<span class="p-2" id="blog"></span>
<div class="container pt-14 mt-4">
    <h2 class="mt-1 font-bold text-2xl">{title}</h2>
    <p class="font-mono text-main-great-text">{pubDate.toString().slice(0, 10)}</p>
    <p class="flex-grow mt-2 mb-4 font-sans col-span-6"><em>{description}</em></p>
    <p class="font-mono text-main-great-text text-xs">Escrito por: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} class="mt-4"/>
    <article class="prose prose-invert max-w-none mt-8">
        <slot/>
    </article>

    <Footer/>
</div>
</body>
</html>